.img_hover:hover {
    opacity: 0.4;
}

.img2_hover:hover {
    opacity: 0.8;
}

.custom_card {
    background-color: inherit;
    color: #6f7071 !important;
    transition: 0.3s ease-in-out;
}

.source_code {
    color: #6f7071 !important;
}

.source_code:hover {
    color: #2bffaa !important;
}