.img_hover:hover{
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out; 
    opacity: 0.4;
}
.img2_hover:hover{
    opacity:0.8;
}
.custom_card:hover{
    background-color: #2bffaa;
    transition: 0.3s ease-in-out;
}

.source_code{
    color: black;
}
.source_code:hover{
    color: gray;
}