* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 70px;
}

body {
  background-color: #111111;
  color: #BBBBBB !important;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

.logo_color {
  color: #BBBBBB;
}

/* scrollSPY */
.active-scroll-spy {
  color: rgba(245, 229, 237, 0.2);
  border-radius: 15px;
  transition: all 0.5s;
}

.custom-badge {
  background-color: rgba(39, 39, 39, 0.2) !important;
  color: inherit;
  padding: 5px;
  margin: 5px;
}

@media screen and (max-width: 480px) {

  .xs-width {
    width: 250px !important;
  }
}
